* {
  font-family: sans-serif;
}

.box-container {
    
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    height: 200px;
    flex-direction: row;
    justify-content: space-between;
    border-color: darkseagreen;

  }

.nav-link {
    padding-right: 100px;
    background-color: rgb(152, 175, 194);
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.nav-link:hover {font-size:150%;}


#vid {
  margin: 0 auto;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 100px;
  padding-left: 80px;
  
}

iframe {
  display: inline-flex;

}

body {
  text-align: center;
}
form {
  display: inline-block;
  padding-bottom: 50px;
  padding-top: 100px;
}

@media only screen and (min-width: 601px) {
  div {
    font-size: 30px;
  }
}
/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {
  div {
    font-size: 15px;
  }
}

td,
th {
    border: 1px solid rgb(102, 99, 110);
    padding:10px 25px 10px 25px;
}

td {
    text-align: center;
}


th[scope="col"] {
    background-color: rgb(152, 175, 194);
    color: rgb(219, 228, 231);
}


caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    width: 50%;
    height: 60px;
    border-collapse: collapse;
    letter-spacing: 1px;
    font-size: .8rem;
    margin-left:auto; 
    margin-right:auto;
    border-spacing: 50px 0;

}

ul {
  text-align: center;
}

p {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  padding-bottom: 50px;
  font-size: 30px;
  text-shadow: 3px 2px lightgray;
  letter-spacing: 3px;
  
}

#submit {
  background-color:rgb(152, 175, 194);
  border: none;
  color: white;
  padding: 16px 32px;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
#submit:hover {opacity: 1}
